.black {
  color: black; }

  .content {
    opacity: 0;     /*invisible*/
    transition: opacity 200ms ease-in;
  }

  .loaded {
    opacity: 1;    /*visible*/
  }

  .input-group {
    margin-bottom: 15px;
  }

  .block1 {
    background-color: red;
    width: 100px;
    height: 100px;
    transition: opacity 1000ms ease-in;
    opacity: 0;
  }

  .block1:hover {
    opacity: 1;
  }
