.black {
  color: black; }

  .content {
    opacity: 0;     /*invisible*/
    transition: opacity 500ms ease-in;
  }

  .loaded {
    opacity: 1;    /*visible*/
  }

  .input-group {
    margin-bottom: 15px;
  }
